@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: linear-gradient(to right, #080818 0%, #0D0C30 30%, #211231 45%, #371832 60%, #512033 70%, #5d2839 80%, #662c3e 83%, #88343b 90%, #c84537 97%, #DB493A 99%);
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  .menu li {
    display: inline-block;
    padding-left: 50px;
  }
  
  .menu li a {
    color: #FF533B;
    font-size: x-large;
    font-weight: 1000;
    display: block;
    padding: 30px 25px;
    text-decoration: none;
  }

  
  .menu li a:hover {
    color: #EEF1EF;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    transform: scale(1.05, 1.05);
  }


  /* about */
  .about {
    color: #EEF1EF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }

  .about-child:nth-child(1) img {
    width: 70%;
    height: auto;
    margin-left: 80px;
    margin-top: 90px;
  }
  
  .about-child:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-child:nth-child(2) h1 {
    max-width: 800px;
    text-align: right;
    margin-right: 120px;
    font-size: 60px;
  }

  .about-child:nth-child(2) p {
    text-align: justify;
    max-width: 900px;
    margin-right: 120px;
    font-size: 20px;
    line-height: 150%;
    margin-top: 5px;
  }

  img:hover {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    transform: scale(1.15, 1.15);
  }

  
  /* super-resolve */
  #super-resolve-section {
    height: 100vh;
  }

  .super-resolve {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 800px;
    background-color: #e5cfe7;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
  }

  .super-resolve-child {
    margin-top: 100px;
  }

  input[type=file] {
    position: absolute;
    width: 33%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #EEF1EF;
    font-family: 'Montserrat', sans-serif;
    color: #211231;
    font-weight: 600;
    opacity: 80%;
    margin-right: 340px;
    margin-top: 40px;
}

  #super-resolve-button {
    position: absolute;
    width: 37%;
    padding: 17px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #EEF1EF;
    font-family: 'Montserrat', sans-serif;
    color: #211231;
    font-weight: 600;
    opacity: 80%;
    margin-left: 337px;
    margin-top: 40px;
  }

  input[type=file]:hover {
    opacity: 100%;
  }

  #super-resolve-button:hover {
    opacity: 100%;
  }

  #low-resolution {
    position: absolute;
    image-rendering: pixelated;
    margin-left: -120px;
    margin-top: 40px;
    border-radius: 10px;
    
  }

  #super-resolution {
    position: absolute;
    margin-left: -180px;
    margin-top: 40px;
    border-radius: 10px;
  }

